Step 1: Import the required Library

In [ ]:
import requests

Step 2: Defining the API Endpoint URL

In [2]:
url = "https://jsonplaceholder.typicode.com/posts"

In [3]:
response = requests.get(url)
response

In [ ]:
posts = response.json()
posts

In [ ]:
# Access the data
for post in posts[:5]:
    print(f"Title: {post['title']}")
    print(f"Body: {post['body']}")

Rick and Morty API

In [24]:
import pandas as pd
import requests

In [8]:
url1 = "https://rickandmortyapi.com/api"
endpoint = "/character"
requests.get(url1+endpoint)

In [16]:
def  page_request(url1,endpoint, page):
    response = requests.get(url1+endpoint+f'?page={page}')
    return response.json()

In [17]:
def get_pages(response):
    return response['info']['pages']

In [18]:
#get information
def parse_json(response):
    character_list = []
    for item in response['results']:
        character ={
        'name':item['name'],
        'species': item['species'],
        'Number_of_Species': len(item['episode'])
        }
        character_list.append(character)
    return character_list

In [19]:
# We want to know how many pages exist
data = page_request(url1,endpoint,1)

# Get the total pages
total_pages = get_pages(data)

# Loop through all pages and get the characters
Characters_List_Main = []

for x in range(1,total_pages + 1):
    response = page_request(url1,endpoint,x)
    Characters_List_Main.extend(parse_json(response))

In [ ]:
print(len(Characters_List_Main))
Characters_List_Main[:5]

In [32]:
pd.DataFrame(Characters_List_Main).head()

           name species  Number_of_Species
0  Rick Sanchez   Human                 51
1   Morty Smith   Human                 51
2  Summer Smith   Human                 42
3    Beth Smith   Human                 42
4   Jerry Smith   Human                 39

Open Weather API

In [35]:
import requests
city = input("Enter a city")
city

'Nairobi'

Preprae API Endpoint

In [38]:
API_Key = "e58aa80bc25119bde5fe0a3d8daee141"
url_endpoint = f"http://api.openweathermap.org/data/2.5/weather?q={city}&appid={API_Key}&units=metric"

In [39]:
weather_response = requests.get(url_endpoint)
weather_response

In [51]:
# get the data
data = weather_response.json()
data

{'coord': {'lon': 36.8167, 'lat': -1.2833},
 'weather': [{'id': 804,
   'main': 'Clouds',
   'description': 'overcast clouds',
   'icon': '04d'}],
 'base': 'stations',
 'main': {'temp': 25.88,
  'feels_like': 25.54,
  'temp_min': 25.88,
  'temp_max': 25.88,
  'pressure': 1011,
  'humidity': 39,
  'sea_level': 1011,
  'grnd_level': 837},
 'visibility': 10000,
 'wind': {'speed': 1.89, 'deg': 85, 'gust': 3.18},
 'clouds': {'all': 97},
 'dt': 1771322802,
 'sys': {'country': 'KE', 'sunrise': 1771299745, 'sunset': 1771343484},
 'timezone': 10800,
 'id': 184745,
 'name': 'Nairobi',
 'cod': 200}

In [ ]:
print(f"City Name: {data['name']}\nDescription: {data['weather'][0]['description']}\nMinimum Temp: {data['main']['temp_min']}\nMaximum Temperature : {data['main']['temp_max']}")

City Name: Nairobi
Description: overcast clouds
Minimum Temp: 25.88
Maximum Temperature : 25.88

In [1]:
import requests
import pandas
import time
import csv

In [118]:
Movie_Input = input("Enter a movie: ") 
Movie_Search =  Movie_Input.replace(" ", "+")
Year_Input = input("Enter a year: ")
if Movie_Input == "":
    print("Empty input, Enter a movie")

In [119]:
API_Key = "60ec1ab7"
Movie = []

Movie_URL = f"http://www.omdbapi.com/?s={Movie_Search}&apikey={API_Key}&y={Year_Input}" 
Movie_response = requests.get(Movie_URL)
Movie_response

In [ ]:
if Movie_response == "<Response [400]>":
    print("Invalid or missing API")

In [120]:
Movie = Movie_response.json()
if Movie == {'Response': 'False', 'Error': 'Movie not found!'}:
    print("Movie was not found")
Movie

{'Search': [{'Title': 'Jumanji: Welcome to the Jungle',
   'Year': '2017',
   'imdbID': 'tt2283362',
   'Type': 'movie',
   'Poster': 'https://m.media-amazon.com/images/M/MV5BZjI5MzdmODctYjA4NS00ZmMxLWJlOWUtOGVhMjA0OGMxMWYzXkEyXkFqcGc@._V1_SX300.jpg'},
  {'Title': 'Jumanji',
   'Year': '2017',
   'imdbID': 'tt14981590',
   'Type': 'movie',
   'Poster': 'N/A'},
  {'Title': 'Jumanji: Welcome to the Jungle (2017)',
   'Year': '2017',
   'imdbID': 'tt17977934',
   'Type': 'movie',
   'Poster': 'N/A'}],
 'totalResults': '3',
 'Response': 'True'}

In [121]:
IMDB_ID = []
Movie_Final_List = []
for a in range(len(Movie['Search'])):
    IMDB_ID.append(Movie['Search'][a]['imdbID'])

for b in range(len(IMDB_ID)):
    Movie_URL1 = f"http://www.omdbapi.com/?i={IMDB_ID[b]}&apikey={API_Key}&y={Year_Input}" 
    Movie_response1 = requests.get(Movie_URL1)
    Movie_response1

    Movie_Final_List.append(Movie_response1.json())

    
    time.sleep(2)

Movie_Final_List

[{'Title': 'Jumanji: Welcome to the Jungle',
  'Year': '2017',
  'Rated': 'PG-13',
  'Released': '20 Dec 2017',
  'Runtime': '119 min',
  'Genre': 'Action, Adventure, Comedy',
  'Director': 'Jake Kasdan',
  'Writer': 'Chris McKenna, Erik Sommers, Scott Rosenberg',
  'Actors': 'Dwayne Johnson, Karen Gillan, Kevin Hart',
  'Plot': 'Four teenagers are sucked into a magical video game, and the only way they can escape is to work together to finish the game.',
  'Language': 'English',
  'Country': 'United States, Canada',
  'Awards': '5 wins & 15 nominations total',
  'Poster': 'https://m.media-amazon.com/images/M/MV5BZjI5MzdmODctYjA4NS00ZmMxLWJlOWUtOGVhMjA0OGMxMWYzXkEyXkFqcGc@._V1_SX300.jpg',
  'Ratings': [{'Source': 'Internet Movie Database', 'Value': '6.9/10'},
   {'Source': 'Rotten Tomatoes', 'Value': '77%'},
   {'Source': 'Metacritic', 'Value': '58/100'}],
  'Metascore': '58',
  'imdbRating': '6.9',
  'imdbVotes': '492,651',
  'imdbID': 'tt2283362',
  'Type': 'movie',
  'DVD': 'N/A',
  'BoxOffice': '$404,540,171',
  'Production': 'N/A',
  'Website': 'N/A',
  'Response': 'True'},
 {'Title': 'Jumanji',
  'Year': '2017',
  'Rated': 'N/A',
  'Released': '27 Oct 2017',
  'Runtime': 'N/A',
  'Genre': 'Short, Music',
  'Director': 'Director Ali',
  'Writer': 'N/A',
  'Actors': 'Bee Young',
  'Plot': 'N/A',
  'Language': 'English',
  'Country': 'United States',
  'Awards': 'N/A',
  'Poster': 'N/A',
  'Ratings': [],
  'Metascore': 'N/A',
  'imdbRating': 'N/A',
  'imdbVotes': 'N/A',
  'imdbID': 'tt14981590',
  'Type': 'movie',
  'DVD': 'N/A',
  'BoxOffice': 'N/A',
  'Production': 'N/A',
  'Website': 'N/A',
  'Response': 'True'},
 {'Title': 'Jumanji: Welcome to the Jungle (2017)',
  'Year': '2017',
  'Rated': 'N/A',
  'Released': '21 Nov 2019',
  'Runtime': 'N/A',
  'Genre': 'N/A',
  'Director': 'N/A',
  'Writer': 'N/A',
  'Actors': 'N/A',
  'Plot': 'N/A',
  'Language': 'N/A',
  'Country': 'N/A',
  'Awards': 'N/A',
  'Poster': 'N/A',
  'Ratings': [{'Source': 'Rotten Tomatoes', 'Value': '77%'}],
  'Metascore': 'N/A',
  'imdbRating': 'N/A',
  'imdbVotes': 'N/A',
  'imdbID': 'tt17977934',
  'Type': 'movie',
  'DVD': 'N/A',
  'BoxOffice': 'N/A',
  'Production': 'N/A',
  'Website': 'N/A',
  'Response': 'True'}]

In [122]:
Criteria = ['Title', 'Year', 'Genre', 'Director', 'Plot', 'imdbRating']
Details = []
for movies in Movie_Final_List:
    for i in range(len(Criteria)):
        print(f"{Criteria[i]}: {movies[Criteria[i]]}")
        Details.append({Criteria[i]: movies[Criteria[i]]})


"""with open('Movies.csv','w',newline='') as file:
    writer = csv.writer(file)
    writer.writerow(['Criteria', 'Details'])
    for Detail in Details:
        for i in range(len(Criteria)):
            writer.writerow([Criteria[i], Detail[Criteria[i]]])"""

Title: Jumanji: Welcome to the Jungle
Year: 2017
Genre: Action, Adventure, Comedy
Director: Jake Kasdan
Plot: Four teenagers are sucked into a magical video game, and the only way they can escape is to work together to finish the game.
imdbRating: 6.9
Title: Jumanji
Year: 2017
Genre: Short, Music
Director: Director Ali
Plot: N/A
imdbRating: N/A
Title: Jumanji: Welcome to the Jungle (2017)
Year: 2017
Genre: N/A
Director: N/A
Plot: N/A
imdbRating: N/A

"with open('Movies.csv','w',newline='') as file:\n    writer = csv.writer(file)\n    writer.writerow(['Criteria', 'Details'])\n    for Detail in Details:\n        for i in range(len(Criteria)):\n            writer.writerow([Criteria[i], Detail[Criteria[i]]])"