Step 1: Import the required Library

In [ ]:
import requests

Step 2: Defining the API Endpoint URL

In [2]:
url = "https://jsonplaceholder.typicode.com/posts"

In [3]:
response = requests.get(url)
response

In [ ]:
posts = response.json()
posts

In [ ]:
# Access the data
for post in posts[:5]:
    print(f"Title: {post['title']}")
    print(f"Body: {post['body']}")

Rick and Morty API

In [24]:
import pandas as pd
import requests

In [8]:
url1 = "https://rickandmortyapi.com/api"
endpoint = "/character"
requests.get(url1+endpoint)

In [16]:
def  page_request(url1,endpoint, page):
    response = requests.get(url1+endpoint+f'?page={page}')
    return response.json()

In [17]:
def get_pages(response):
    return response['info']['pages']

In [18]:
#get information
def parse_json(response):
    character_list = []
    for item in response['results']:
        character ={
        'name':item['name'],
        'species': item['species'],
        'Number_of_Species': len(item['episode'])
        }
        character_list.append(character)
    return character_list

In [19]:
# We want to know how many pages exist
data = page_request(url1,endpoint,1)

# Get the total pages
total_pages = get_pages(data)

# Loop through all pages and get the characters
Characters_List_Main = []

for x in range(1,total_pages + 1):
    response = page_request(url1,endpoint,x)
    Characters_List_Main.extend(parse_json(response))

In [ ]:
print(len(Characters_List_Main))
Characters_List_Main[:5]

In [32]:
pd.DataFrame(Characters_List_Main).head()

           name species  Number_of_Species
0  Rick Sanchez   Human                 51
1   Morty Smith   Human                 51
2  Summer Smith   Human                 42
3    Beth Smith   Human                 42
4   Jerry Smith   Human                 39

Open Weather API

In [35]:
import requests
city = input("Enter a city")
city

'Nairobi'

Preprae API Endpoint

In [38]:
API_Key = "e58aa80bc25119bde5fe0a3d8daee141"
url_endpoint = f"http://api.openweathermap.org/data/2.5/weather?q={city}&appid={API_Key}&units=metric"

In [39]:
weather_response = requests.get(url_endpoint)
weather_response

In [51]:
# get the data
data = weather_response.json()
data

{'coord': {'lon': 36.8167, 'lat': -1.2833},
 'weather': [{'id': 804,
   'main': 'Clouds',
   'description': 'overcast clouds',
   'icon': '04d'}],
 'base': 'stations',
 'main': {'temp': 25.88,
  'feels_like': 25.54,
  'temp_min': 25.88,
  'temp_max': 25.88,
  'pressure': 1011,
  'humidity': 39,
  'sea_level': 1011,
  'grnd_level': 837},
 'visibility': 10000,
 'wind': {'speed': 1.89, 'deg': 85, 'gust': 3.18},
 'clouds': {'all': 97},
 'dt': 1771322802,
 'sys': {'country': 'KE', 'sunrise': 1771299745, 'sunset': 1771343484},
 'timezone': 10800,
 'id': 184745,
 'name': 'Nairobi',
 'cod': 200}

In [ ]:
print(f"City Name: {data['name']}\nDescription: {data['weather'][0]['description']}\nMinimum Temp: {data['main']['temp_min']}\nMaximum Temperature : {data['main']['temp_max']}")

City Name: Nairobi
Description: overcast clouds
Minimum Temp: 25.88
Maximum Temperature : 25.88

In [1]:
import requests
import pandas
import time
import csv

In [6]:
Movie_Input = input("Enter a movie: ") 
Movie_Search =  Movie_Input.replace(" ", "+")
if Movie_Input == "":
    print("Empty input, Enter a movie")

In [7]:
API_Key = "60ec1ab7"
Movie = []

Movie_URL = f"http://www.omdbapi.com/?t={Movie_Search}&apikey={API_Key}" 
Movie_response = requests.get(Movie_URL)
Movie_response

In [57]:
if Movie_response == "<Response [400]>":
    print("Invalid or missing API")
if Movie_response == "<Response [204]>":
    print("Movie not found")

In [8]:
Movie = Movie_response.json()
Movie

{'Title': 'Amistad',
 'Year': '1997',
 'Rated': 'R',
 'Released': '25 Dec 1997',
 'Runtime': '155 min',
 'Genre': 'Biography, Drama, History',
 'Director': 'Steven Spielberg',
 'Writer': 'David Franzoni',
 'Actors': 'Djimon Hounsou, Matthew McConaughey, Anthony Hopkins',
 'Plot': 'In 1839, the revolt of Mende captives aboard a Spanish owned ship causes a major controversy in the United States when the ship is captured off the coast of Long Island. The courts must decide whether the Mende are slaves or legal...',
 'Language': 'English, Mende, Spanish, Portuguese',
 'Country': 'United States',
 'Awards': 'Nominated for 4 Oscars. 11 wins & 44 nominations total',
 'Poster': 'https://m.media-amazon.com/images/M/MV5BZGUyMWU0ZjctZTFiMS00YzdjLTg1YjktNDRmN2ZhNDY3ZDFhXkEyXkFqcGc@._V1_SX300.jpg',
 'Ratings': [{'Source': 'Internet Movie Database', 'Value': '7.3/10'},
  {'Source': 'Rotten Tomatoes', 'Value': '78%'},
  {'Source': 'Metacritic', 'Value': '64/100'}],
 'Metascore': '64',
 'imdbRating': '7.3',
 'imdbVotes': '86,310',
 'imdbID': 'tt0118607',
 'Type': 'movie',
 'DVD': 'N/A',
 'BoxOffice': '$44,229,441',
 'Production': 'N/A',
 'Website': 'N/A',
 'Response': 'True'}

In [9]:
Criteria = ['Title', 'Year', 'Genre', 'Director', 'Plot', 'imdbRating']
Details = []
for movies in Movie:
    for i in Criteria:
        if movies == i:
            Details.append(Movie[movies])

for j in range(len(Details)):
    print(f"{Criteria[j]}: {Details[j]}")

with open('Movies.csv','w',newline='') as file:
    writer = csv.writer(file)
    writer.writerow(['Criteria', 'Details'])
    for x in range(len(Details)):
        writer.writerow([Criteria[x], Details[x]])

Title: Amistad
Year: 1997
Genre: Biography, Drama, History
Director: Steven Spielberg
Plot: In 1839, the revolt of Mende captives aboard a Spanish owned ship causes a major controversy in the United States when the ship is captured off the coast of Long Island. The courts must decide whether the Mende are slaves or legal...
imdbRating: 7.3