Import the Library

In [1]:
import sqlite3

Create a new Database and connect to it

In [57]:
conn = sqlite3.connect("school.db")
conn.execute("PRAGMA foreign_keys = ON") # Enforces Foreign Key Constraints

In [4]:
cursor = conn.cursor()

Create the students Table

In [ ]:
cursor.execute("""
            CREATE TABLE IF NOT EXISTS Students(
               student_id INTEGER PRIMARY KEY AUTOINCREMENT,
               first_name TEXT NOT NULL,
               last_name TEXT NOT NULL,
               age INTEGER NOT NULL,
               grade TEXT NOT NULL,
               email TEXT NOT NULL UNIQUE
               )                        
               """)
conn.commit() # save the changes to the database

Add a new column

In [6]:
cursor.execute("ALTER TABLE students ADD COLUMN phone_number INTEGER")
conn.commit()

Deleting a column

In [8]:
cursor.execute("ALTER TABLE students DROP COLUMN phone_number")
conn.commit()

Insert a record into students

In [ ]:
cursor.execute("""
               INSERT INTO Students (first_name, last_name, age, grade, email)
               VALUES (?,?,?,?,?)
               """,("Carl","Assava",26,"B","carl@gmail.com"))
conn.commit()

# Triple quotes are used for inputs and double for altering data

Inserting multiple students

In [11]:
students_data = [
    ("Christine", "Kerubo", 27,"A","christine@gmail.com"),
    ("Byron", "Morara", 23,"C","byron@gmail.com"),
    ("Nigel", "Mirambo", 21,"D","nigel@gmail.com"),
    ("Victor", "Ouma", 25,"B","victor@gmail.com"),
    ("Melody", "Bonareri", 26,"C","melody@gmail.com")
]
cursor.executemany("""
                   INSERT INTO Students (first_name, last_name, age, grade, email)
                   VALUES(?,?,?,?,?)
                   """, students_data)

conn.commit()

Select all Records

In [ ]:
cursor.execute("SELECT * FROM Students WHERE grade = 'B'")
students = cursor.fetchall()
for student in students:
    print(student)

(1, 'Carl', 'Assava', 26, 'B', 'carl@gmail.com')
(5, 'Victor', 'Ouma', 25, 'B', 'victor@gmail.com')

Update a Student's Grade

In [29]:
cursor.execute("""
               UPDATE Students
               SET grade = 'A'
               WHERE student_id = 4
               """)
conn.commit()

In [30]:
cursor.execute("SELECT * FROM Students")
students = cursor.fetchall()

for student in students:
    print(student)

(1, 'Carl', 'Assava', 26, 'B', 'carl@gmail.com')
(2, 'Christine', 'Kerubo', 27, 'A', 'christine@gmail.com')
(3, 'Byron', 'Morara', 23, 'C', 'byron@gmail.com')
(4, 'Nigel', 'Mirambo', 21, 'A', 'nigel@gmail.com')
(5, 'Victor', 'Ouma', 25, 'B', 'victor@gmail.com')
(6, 'Melody', 'Bonareri', 26, 'C', 'melody@gmail.com')

Delete a Student's record

In [ ]:
cursor.execute("DELETE FROM Students WHERE student_id = 1")
conn.commit()

Create a second table

In [ ]:
cursor.execute("""
            CREATE TABLE IF NOT EXISTS Courses(
               course_id INTEGER PRIMARY KEY AUTOINCREMENT,
               course_name TEXT NOT NULL UNIQUE
               )
               """)

conn.commit()

Insert courses

In [56]:
Courses_Data = [
    ("Data Science",),
    ("Machine Learning",),
    ("Database Systems",),
    ("Artificial Intelligence",),
    ("Python Programming",)
]

cursor.executemany("INSERT OR IGNORE INTO Courses (course_name) VALUES (?)", Courses_Data)
conn.commit()

cursor.execute("SELECT * FROM Courses")
print(cursor.fetchall())

[(1, 'Data Science'), (2, 'Machine Learning'), (3, 'Database Systems'), (4, 'Artificial Intelligence'), (5, 'Python Programming')]

Using Foreign Keys